
{% extends "detalles_hoteleria/base_detalles.html" %} {%comment%}EN LA BASE TENGO TODOS LOS TAGS HEADER Y FOOTER{%endcomment%}
{%block content %}
<div class="body">
  <ul class="product-grid">
    <li class="product">
      <h3 class="title">{{ habitacion.name }}</h3>

      <div class="swiper swiper-container mySwiper-{{ habitacion.id }}">
        <div class="swiper-wrapper">
          {% if habitacion.image1 %}
            <div class="swiper-slide"><img src="{{ habitacion.image1.url }}" alt="Imagen 1" onclick="openLightbox('{{ habitacion.image1.url }}')"></div>
          {% endif %}
          {% if habitacion.image2 %}
            <div class="swiper-slide"><img src="{{ habitacion.image2.url }}" alt="Imagen 2" onclick="openLightbox('{{ habitacion.image2.url }}')"></div>
          {% endif %}
          {% if habitacion.image3 %}
            <div class="swiper-slide"><img src="{{ habitacion.image3.url }}" alt="Imagen 3" onclick="openLightbox('{{ habitacion.image3.url }}')"></div>
          {% endif %}
          {% if habitacion.image4 %}
            <div class="swiper-slide"><img src="{{ habitacion.image4.url }}" alt="Imagen 4" onclick="openLightbox('{{ habitacion.image4.url }}')"></div>
          {% endif %}
          {% if habitacion.image5 %}
            <div class="swiper-slide"><img src="{{ habitacion.image5.url }}" alt="Imagen 5" onclick="openLightbox('{{ habitacion.image5.url }}')"></div>
          {% endif %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

      <div class="business-info">
        <div><em>¿Está Disponible?:</em> {{ habitacion.is_active|yesno:"Sí,No" }}</div>
        <div><em>Precio:</em> ${{ habitacion.price }}</div>
        <div><em>Máximo de personas:</em> {{ habitacion.max_people }}</div>
        <div><em>Camas:</em> {{ habitacion.numero_de_camas }}</div>
        <div><em>Niños menores de 12:</em> {{ habitacion.children_under_12 }}</div>
        <div><em>Fumar permitido:</em> {{ habitacion.smoking_allowed }}</div>
        <div><em>Pet Friendly:</em> {{ habitacion.pet_friendly }}</div>
        <div><em>Piso:</em> {{ habitacion.floor_number }}</div>
        <div><em>Elevador:</em> {{ habitacion.elevador }}</div>
        <div><em>Vista primaria:</em> {{ habitacion.vista_primaria }}</div>
        <div><em>Vista secundaria:</em> {{ habitacion.vista_secundaria }}</div>
        <div><em>Balcón:</em> {{ habitacion.balcony }}</div>

        <div><em>Agua Caliente:</em> {{ habitacion.hot_water }}</div>
        <div><em>Aire Acondicionado:</em> {{ habitacion.air_conditioning }}</div>
        <div><em>Ventiladores:</em> {{ habitacion.ventilador}}</div>
        <div><em>Gimnasio:</em> {{ habitacion.gym }}</div>
        <div><em>Piscina Pública:</em> {{ habitacion.piscina_publica }}</div>
        <div><em>Jacuzzi:</em> {{ habitacion.jacuzzi }}</div>
        <div><em>WiFi:</em> {{ habitacion.wifi }}</div>
        <div><em>Cocina:</em> {{ habitacion.kitchen }}</div>
        <div><em>Electrodomésticos:</em> {{ habitacion.appliances }}</div>

        <div><em>Horario Check-in:</em> {{ habitacion.horario_checking }}</div>
        <div><em>Horario Check-out:</em> {{ habitacion.horario_checkout }}</div>
        <div><em>Caja Fuerte:</em> {{ habitacion.caja_fuerte }}</div>
        <div><em>Minibar Incluido:</em> {{ habitacion.minibar_incluido|yesno:"Sí,No" }}</div>
        <div><em>Incluye Desayuno:</em> {{ habitacion.includes_breakfast|yesno:"Sí,No" }}</div>
        <div><em>Estacionamiento:</em> {{ habitacion.parking|yesno:"Sí,No" }}</div>
      </div>

      <div class="div-descripcion">
        <em>Descripción:</em>
        <p>{{ habitacion.description }}</p>
      </div>

      {% if user.userprofile.role == 'business_owner' %}
        <div class="botones-reservar carrito">
          
          <a>
          <form action="{% url 'eliminar_producto_hoteleria' habitacion.id 'habitacion_hotel' %}" method="post">
                    {% csrf_token %}
                    <button id="boton-eliminar"type="submit" onclick="return confirm('¿Estas Seguro que quieres Eliminar esta Habitación?');">Eliminar</button>
                </form>
              </a>
          
        
          <a href="{% url 'editar_producto' tipo='habitacion_hotel' id=habitacion.id %}" class="btn btn-primary"> Editar</a>     
        <a class="reservar" href="{% url 'dashboard' %}">Regresar</a>     
        </div>
    {% endif %}    
    </li>
  </ul>
</div>
{%endblock%}

