<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/registrarse.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/headers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/footers.css' %}">
    <title>Agregar Extra</title>
</head>

<header>
    <div class="logo">
        <img src="{% static '/images/logo.png' %}" alt="Logo">
    </div>
</header>

<body>
<div class="body">
    <h2>Agregar Extra al Producto: {{ producto.name }}</h2>

    <form method="post">
        {% csrf_token %}
        
        {{ form.nombre.label_tag }}
        {{ form.nombre }}

        {{ form.descripcion.label_tag }}
        {{ form.descripcion }}

        {{ form.precio.label_tag }}
        {{ form.precio }}

        {{ form.cantidad_disponible.label_tag }}
        {{ form.cantidad_disponible }}

        <button type="submit">Guardar Extra</button>
    </form>

    
</div><!-- ############### CIERRE DIV BODY##############-->
</body>
</html>
