<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Editar Producto</title>
</head>
<body>

  <h1>Editar Producto: {{ producto.name }}</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar cambios</button>
  </form>

  <a href="{% url 'producto_success' %}">Cancelar</a>

</body>
</html>
