<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/editar_perfiles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/headers.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/footers.css'%}">
</head>
<header>
    <div class="logo">
        <img src="{% static '/images/logo.png' %}" alt="Logo">
    </div>
</header>
<body>

<div class="body">


<h2>📝 Editar Perfil  ({{user.username}})</h2>


<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <fieldset>
    <legend>Información de Usuario</legend>
    {{ user_form.email.label_tag }} {{ user_form.email }}
    {{ user_form.first_name.label_tag }} {{ user_form.first_name }}
    {{ user_form.last_name.label_tag }} {{ user_form.last_name }}
  </fieldset>

  <fieldset>
    <legend>Información de Perfil</legend>
    {{ profile_form.as_p }}
  </fieldset>
  <p><a href="{% url 'change_password' %}" class="back-btn">Cambiar Contraseña</a></p>
  <button type="submit">Guardar Cambios</button>
</form>

<p><a href="{% url 'view_profile' %}" class="back-btn">Volver al Perfil</a></p>
</div> <!-- ### CIERRE DIV BODY -->

<div class="footer-content">
  <div class="footer-info-container">
      <div class="contact-methods">
          <a href="https://wa.me/+17279468985" class="social-icon whatsapp"></a>
          <a href="https://www.instagram.com/#" target="_blank" class="social-icon instagram"></a>
          <a href="https://www.facebook.com/LANDMARKPVR?mibextid=wwXIfr" target="_blank" class="social-icon facebook"></a>
          <!-- <a href="https://www.youtube.com/@casapv" target="_blank" class="social-icon youtube"></a> -->
      </div>

  </div>
</body>
</html>