<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
  <link rel="stylesheet" href="{% static '/css/headers.css' %}">
  <link rel="stylesheet" href="{% static '/css/footers.css' %}">
  <link rel="stylesheet" href="fuentes.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>

<header class="header">
  <div class="logo">
    <img src="{% static 'images/logo.png' %}" alt="Logo">
  </div>
</header>

{%if pedido.ventas %}{# ESTO LO PUSE PARA QUE CUANDO EL USUARIO REFRESQUE EL NAVEGADOR NO SALGA NADA MAS QUE EL BOTON#}

<div class="body">
<h2>Gracias por tu compra!</h2>
<h3 class="resumen_compra_h3">Resumen del Pedido</h3>

<form>
  <div class="container_grid">
    {% for venta in pedido.ventas %}
    <div class="item">

      <div class="div_item_titulo_cantidad">
        <h3>{{ venta.producto }}</h3>
      </div>

      {% if venta.imagen %}
        <img src="{{ venta.imagen }}" onclick="openLightbox('{{ venta.imagen }}')">
      {% endif %}

      <div class="precio_producto">Precio ${{ venta.precio_unitario }}</div>

      <div class="div_cantidad">
        <label>Cantidad Producto</label>
        <input type="number" value="{{ venta.cantidad }}" readonly>
      </div>

      <fieldset>
        <legend>Nota para esta Orden</legend>
        <textarea rows="3" cols="30" readonly>{{ venta.nota|default_if_none:"" }}</textarea>
      </fieldset>

      {% if venta.extras %}
        <details ><!-- SE PUEDE DEJAR open -->
          <summary></summary> <!-- El texto está en CSS -->
          {% for extra in venta.extras %}
            <p class="titulo_extras">{{ extra.nombre }}</p>
            <div class="extras_grid">
              <label>(+${{ extra.precio }}) c/u</label>
              <input type="number" min="0" value="{{ extra.cantidad }}" readonly>
            </div>
          {% endfor %}
        </details>
      {% endif %}

    </div>
    {% endfor %}
  </div>

  <div class="total">
    <h4 class="total_general">Total: ${{ pedido.total_pagado }}</h4>
  </div>

  <div class="botones_pago_y_regresar">
    {% if user.is_authenticated %}
      <a href="{% url 'dashboard' %}">Ir al Panel</a>
    {% else %}
      <a href="{% url 'tienda' %}">Seguir comprando</a>
    {% endif %}
  </div>
</form>

<hr style="margin-top: 3em; margin-bottom: 2em;">

<h3 class="datos_envio_h3">Datos de Envío</h3>
<div class="container_datos_envio">
  {% if pedido.direccion.nombre_completo  %}
  <p><strong>Nombre completo:</strong> {{ pedido.direccion.nombre_completo }}</p>
  {%endif%}
  
  {% if pedido.direccion.telefono   %}
  <p><strong>Teléfono:</strong> {{ pedido.direccion.telefono }}</p>
  {%endif%}

  {% if pedido.direccion.opcion_entrega_display %}
  <p><strong>Opción de entrega:</strong> {{ pedido.direccion.opcion_entrega_display }}</p>
  {%endif%}

  {% if pedido.direccion.direccion %}
    <p><strong>Calle y Número:</strong> {{ pedido.direccion.direccion }}</p>
  {% endif %}
  
  {% if pedido.direccion.ciudad %}
    <p><strong>Ciudad:</strong> {{ pedido.direccion.ciudad }}</p>
  {% endif %}

  {% if pedido.direccion.estado %}
    <p><strong>Estado:</strong> {{ pedido.direccion.estado }}</p>
  {% endif %}

  {% if pedido.direccion.codigo_postal %}
    <p><strong>Código Postal:</strong> {{ pedido.direccion.codigo_postal }}</p>
  {% endif %}

  {% if pedido.direccion.propina_voluntaria %}
    <p><strong>Propina:</strong> ${{ pedido.direccion.propina_voluntaria }}</p>
  {% endif %}

  {% if pedido.direccion.decidir_propina_despues %}
    <p><strong>Decidió dejar propina después:</strong> Sí</p>
  {% endif %}

  <p><strong>Costo de Envío:</strong> ${{ pedido.costo_envio }}</p>

  {% if pedido.direccion.notas %}
    <p><strong>Notas adicionales:</strong> {{ pedido.direccion.notas }}</p>

    <p class="mensaje_envio">Te informaremos cuando tu pedido esté en camino.</p>

  {% endif %}

 
</div>
</div>

{%else%}
  </br>
  </br>
  </br>
  <div class="botones_pago_y_regresar">
        <a href="{% url 'tienda' %}">Seguir comprando</a>
    </div>
  {%endif%}

 
</body>
</html>
